@font-face {
  src: url('YakuzaFont.ttf');
}
@font-face {
  src: url('Roboto-Regular.ttf');
}
@font-face {
  src: url('Bubblegum.ttf');
}

/*Variables*/

* {
  -light-grey: #aaa;
  -dark-grey: #4A4A4A;
  -dark-blue: #3B7AA2;
  -subtle-white: #BABABA;
  -white: #FCFCFC;
}

/*Root view*/

.body {
  -fx-font-family: 'Bubblegum';
}
.body .label {
  -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.25), 7.5, 0, 0, 0);
}
.body .button LabeledText {
  -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.25), 7.5, 0, 0, 0);
}

/*Logo area*/

.logo {
  -fx-font-family: 'Bulldozer';
  -fx-background-color: -dark-blue;
  -fx-font-size: 85pt;
}
.logo LabeledText {
  -fx-fill: -white;
}

/*News area*/

.news {
  -fx-background-color: -subtle-white;
}
.news .news_label {
  -fx-text-fill: -white;
  -fx-font-size: 35pt;
}
.news .listview {
  -fx-font-family: 'Roboto';
  -fx-font-size: 14pt;
  -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, .2), 1, 0, 0, 1);
}

/*Config area*/

.config {
  -fx-background-color: -dark-grey;
  -fx-padding: 10px;
}
.config .label {
  -fx-text-fill: -subtle-white;
  -fx-font-size: 20px;
}
.config_title, .rate_desc, .rate_concrete, .links, .settings {
  -fx-background-color: -dark-grey;
  -fx-padding: 15px;
}

/*Button info*/

.button {
  -fx-text-fill: -white;
  -fx-background-color: -dark-blue;
}
.button LabeledText {}
.button:hover LabeledText {
  -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.25), 2.5, 0, 0, 2.5);
}
.button:pressed {
  -fx-padding: 5 0 0 0;
}
.settings .button {
  -fx-font-size: 18pt;
}
.launch .button {
  -fx-font-size: 75px;
}
